<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="login_header">
    <th:block th:replace="~{common :: common_header}"></th:block>
    <title>Login - Lion Korea</title>
</head>

<head th:fragment="main_header(title_name)">
    <th:block th:replace="~{common :: common_header}"></th:block>
    <title th:text="${title_name} + ' - Lion Korea'">${title_name} - Lion Korea</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />-->
</head>

<head th:fragment="error_header(error_number)">
    <th:block th:replace="~{common :: common_header}"></th:block>
    <title th:text="${error_number} + ' - Lion Korea'">${error_number} error page</title>
</head>

</html>