<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="login_header(title_name)">
    <th:block th:replace="~{common :: common_header}"></th:block>
    <title th:text="${title_name} + ' - Lion Korea'">Login - Lion Korea</title>
</head>

<head th:fragment="main_header(title_name)">
    <th:block th:replace="~{common :: common_header}"></th:block>
    <title th:text="${title_name} + ' - Lion Korea'">${title_name} - Lion Korea</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />-->
</head>

<head th:fragment="error_header(error_number)">
    <th:block th:replace="~{common :: common_header}"></th:block>
    <title th:text="${error_number} + ' - Lion Korea'">${error_number} error page</title>
</head>

<head th:fragment="project_header(title_name)">
    <th:block th:replace="~{common :: common_header}"></th:block>
    <title th:text="${title_name} + ' - Lion Korea'">${title_name} - Lion Korea</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $( function() {
            let today = new Date().toISOString().split('T')[0];
            $( "#datepicker" ).datepicker({
                dateFormat: 'yy-mm-dd',
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
                changeMonth: true,
                changeYear: true,
                onSelect: function(dateText){
                    sendDateToApi(dateText);
                }
            });
        } );
    </script>
    <!--    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />-->
</head>

</html>