<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="font-family:Arial, sans-serif;max-width:600px;margin:20px auto;padding:20px;border:1px solid #ddd;border-radius:5px;background-color:#f9f9f9">
    <h2 style="text-align:center;color:#007bff">비밀번호 재설정</h2>
    <p>회원님 계정의 비밀번호 재설정 요청을 받았습니다.</p>
    <p>아래 링크를 클릭하여 계정의 새 비밀번호를 생성할 수 있습니다</p>
    <br/>
    <p style="text-align:center">
        <a href="${resetLink}" style="display:inline-block;background-color:#007bff;color:#fff;text-decoration:none;padding:10px 20px;border-radius:5px">
            Reset Password
        </a>
    </p>
    <br/>
    <p>본 메일은 발신 전용으로 회신을 통한 문의는 처리되지 않습니다.</p>
    <br/>
    <div style="color: #007bff;">
        <p>추가적인 문의가 필요하신가요? <a href="mailto:support@example.com">Contact Support</a></p>
        <p>© 2024 Company. All rights reserved.</p>
    </div>
</div>
</body>
</html>